.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  font-family: "Archivo", sans-serif;
}

.logo-back-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0;
}

.logo-back-container a {
  text-decoration: none;
  color: #7f7f7f;
}

.form .heading {
  width: 85%;
  margin-bottom: 2em;
}

.form label {
  display: block;
  margin-bottom: 0.5em;
  color: #7f7f7f;
}

.form input {
  width: 100%;
  margin-bottom: 1.4em;
  padding: 0.8em;
  font-family: "Archivo", sans-serif;
  background: #f7f7f7;
  color: #adadad;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  font-size: 1em;
}

.form .login-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  background: #000;
  color: #fff;
  padding: 1em;
  font-weight: 700;
  margin-bottom: 1em;
  border-radius: 4px;
}

.form p {
  color: #7f7f7f;
}

.form p a {
  font-weight: 700;
}

/* box2 */

.background-box {
  background: #f9f6f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-box-container q {
  font-size: 1.4em;
  font-weight: 700;
}

.quote-box-container blockquote {
  margin-bottom: 2em;
}

.writer-details {
  display: flex;
  align-items: center;
}

.writer-details .name-container {
  margin-left: 1em;
}

@media (min-width: 749px) {
  .form input {
    width: 75%;
  }

  .form .login-btn {
    width: 75%;
  }

  .quote-box-container q {
    font-size: 2em;
  }

  .quote-box-container blockquote {
    margin-bottom: 4em;
  }
}

@media (min-width: 1199px) {
  .container {
    grid-template-columns: 60vw 40vw;
  }

  .main-container {
    width: 60%;
  }

  .form input {
    width: 100%;
    padding: 1em;
  }

  .form .login-btn {
    width: 100%;
  }

  .logo-back-container {
    position: absolute;
    top: 0;
    width: 100%;
  }

  .box-1-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .quote-box-container blockquote {
    margin-bottom: 2em;
  }
}
